{
  "prefix": "",
  "token": "",
  "users": [],
  "dualhook-channel-id": "",
  "api-url": "https://api.deltastealer.xyz/",
  "www-url": "https://www.deltastealer.xyz/",
  "cdn-url": "https://cdn.deltastealer.xyz/"
}
